header{
    background-color: navy;
    color: white;
    height: 90px;

} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{

    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#answer{
    display: flex;
    justify-content: center;
    align-items: center; 

}

#submit:hover{
    background-color: white;
    color: navy;

}
#submit{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: navy;
    color: white;
    transition: 0.3s;
}

#number{
    height: 35px;

}

